@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center"><img src="https://cf.geekdo-images.com/o1U98KcaySPh3PwqzIWzGQ__imagepage/img/70OCwJOC4TXbaQ2CHcqLiF0wglk=/fit-in/900x600/filters:no_upscale():strip_icc()/pic6557504.png" alt="logoGormiti"  /></div>
