@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center"> Benvenuto nello Shop Dei  Gormiti, A Tutta Forza! </h1>
<div class=" text-center bg-transparent p-2"><img src="https://cf.geekdo-images.com/o1U98KcaySPh3PwqzIWzGQ__imagepage/img/70OCwJOC4TXbaQ2CHcqLiF0wglk=/fit-in/900x600/filters:no_upscale():strip_icc()/pic6557504.png" alt="logoGormiti"  /></div>
<div class="container">

    <p class="text-center fs-4 mt-2">
    Preparati a vivere la potenza dei Gormiti come mai prima d’ora!
    <br/>
    In questa sezione troverai i personaggi dell’Era Meka, le armature tecnologiche, 
    <br />
    i Mech da combattimento e tantissimi accessori esclusivi.
    <br/>
    Scegli il tuo guerriero, potenzia il tuo Meka e completa la tua collezione con le ultime novità disponibili.
    
    </p>
    <p class ="text-center fs-4 fw-bold">
    🚚 Spedizione veloce – 💥 Offerte esclusive – 🔒 Pagamento sicuro
    </p>
    <p class="text-center fs-4">
    
    Entra ora nell’Era Meka: il tuo prossimo Gormita ti sta aspettando!
    </p>
    <div class="text-center">
    <a class="btn btn-grad" asp-area="" asp-controller="Product" asp-action="Index">Gormiti</a>
    <a class="btn btn-grad" asp-area="" asp-controller="Cart" asp-action="Cart">Cart</a>
    </div>
</div>
